/* body */
body {
  height: calc(100vh - 5rem);
  margin-top: 5rem;
  background-image: url("./assets/astronaut_v1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text);
  text-align: center;
}

/* header */
header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 5rem;
  background-color: var(--text);
  border-bottom: 3px solid;
  border-color: var(--accent);
}

/* search bar */
.searchbox {
  /* position: absolute; */
  left: 0;
  height: 10rem;
  width: 30rem;
  margin-left: 1rem;
  /* top: 3px; */
}

.search-display {
  top: 0;
  height: 5rem;
  display: flex;
  align-items: center;
}

.searchtext {
  /* height: 25px;
  width: 250px;*/
  margin-right: 5px; 
}

.searchbutton {
  width: 6rem;
  padding: 5px;
}

.user-details {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  background-color: var(--main);
  border: 3px solid var(--text);
  border-radius: 10px;
}

.result {
  margin: 0;
}
.username-result {
  color: var(--pop)
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 11rem;
  text-align: start;
}

/* buttons */
button {
  background-color: var(--main);
  border: 2px solid;
  border-color: var(--text);
  border-radius: 10px;
}
.btn-text {
  color: var(--pop);
}
button:hover {
  background-color: var(--accent);
}

.logo {
  margin-left: 15px;
  width: 10rem;
  height: 10rem;
}