:root {
  --main: #e08d3c;
  --accent: #3d0c02;
  --text: #000000;
  --pop: #f5deb3;
  --light: #f4f0ec;
}

* {
  box-sizing: border-box;
  font-family: "Ysabeau Infant", sans-serif;
  color: var(--text);
}

body {
  background-image: url("./assets/astronaut_v3.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Classes from Home.jsx, Login,jsx, Signup.jsx*/
.homeContainer {
  display: grid;
  place-items: center;
}

.container {
  display: grid;
  place-items: center;
  text-align: center;
}

.box {
  width: 75%;
  height: auto;
  padding: 2%;
  margin: 2%;
  background-color: var(--light);
  border: 5px solid var(--pop);
}

.title {
  font-size: 32px;
  margin: 0px;
}

.form {
  display: grid;
  place-content: center;
}

.formGroup {
  display: grid;
  place-content: center;
}

.logInGrouped {
  background-color: var(--light);
  margin-top: 10%;
}

.email,
.password,
.remember,
.user {
  font-size: 20px;
}

.remember {
  margin-top: 6%;
}

.requirements {
  font-size: 15px;
}

.formControl {
  height: 125%;
  width: 100%;
  text-align: center;
  background-color: var(--pop);
  border: 2px solid var(--accent);
  border-radius: 7px;
  font-size: 20px;
}

.button {
  margin: 3%;
  height: auto;
  font-size: 20px;
  background-color: var(--pop);
  border: 2px solid var(--accent);
  border-radius: 7px;
}

.button:hover {
  background-color: var(--main);
}

.logo {
  height: 10%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .formControl {
    width: 100%;
    padding: 0;
    display: grid;
    place-content: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  ...;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  ...;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  ...;
}
