:root {
  --main: #4d4743;
  --accent: #c7cac8;
  --text: #0d0e10;
  --pop: #bf8b46;
  --light: #dadee0;
  font-family: "Ysabeau Infant", sans-serif;
  color: var(--pop);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
