/* Please  note some of the CSS was tweaked to meet the conditions into JSX */
:root {
    --main: #4d4743;
    --accent: #c7cac8;
    --text: #0d0e10;
    --pop: #bf8b46;
    --second: #d8a762;
    --light: #dadee0;
    font-family: "Ysabeau Infant", sans-serif;
    color: var(--pop);
}

header {
    margin: 16%;
}

body {
    margin: 25px;
}

.logo {
    height: 20vh;
    position: absolute;
    bottom: -300px;
}

.chatbox-header,
.chatbox-card {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 25px;
    background-color: var(--light);
    border: 5px solid var(--main);
    width: 100%;
}

.chatbox-header {
    border-radius: 15px 15px 0px 0px;
    margin-bottom: -10px;
}

.textbox-card {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
    border: 5px solid var(--main);
    border-radius: 0px 0px 15px 15px;
    margin-top: -8px;
    width: 110%;
}

.chatbox-card {
    color: var(--text);
    text-align: center;
    margin: 5px;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    overflow-y: scroll;
    width: 100%;
}



.chatbox-body {
    color: var(--text);
    text-align: center;
    margin: 5px;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    overflow-y: scroll;
    width: 100%;
}

.card-header {
    height: auto;
}

.header-text {
    font-size: large;
}

.received-messages,
.sent-messages {
    display: flex;
    align-items: last baseline;
}

.sent-messages {
    display: flex;
    flex-direction: row-reverse;
}

.avatar1,
.avatar2 {
    height: 50px;
    margin: 5px;
}

.received-messages-inner,
.sent-messages-inner {
    margin: 5px;
    padding: 15px;
}

.received-messages-text {
    background-color: var(--second);
}

.sent-messages-text {
    background-color: var(--pop);
}

.received-messages-text,
.sent-messages-text {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.received-messages-footer {
    margin-left: 15px;
    text-align: left;
}

.sent-messages-footer {
    margin-right: 15px;
    text-align: right;
}

.received-messages-footer,
.sent-messages-footer {
    font-size: x-small;
    color: var(--main);
}

.textbox {
    width: 80%;
    margin: 10px;
    height: 10vh;
    border-radius: 15px;
    border: 3px solid var(--accent);
    padding: 8px;
}

#input {
    font-size: 20px;
    color: var(--text);
}

button {
    height: 7vh;
    width: 7vw;
    font-size: 18px;
    padding-top: 3px;
    margin-left: 10px;
    background-color: var(--main);
    color: var(--light);
}