/* signup.css 
:root { 
 --main: #e08d3c;
  --accent: #3d0c02;
  --text: #000000;
  --pop: #f5deb3;
  --light: #f4f0ec;
  font-family: "Ysabeau Infant", sans-serif;
  color: var(--pop);
}

.searchbox {
  position: absolute;
  right: 45px;
  top: 3px;
}

.searchtext {
  height: 25px;
  width: 250px;
  margin-right: 5px;
}

.searchbutton {
  height: 25px;
  position: absolute;
  right: 1px;
  top: 3px;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

button {
  height: 35px;
  width: 100px;
  font-size: 15px;
}

 .logo {
  height: 22vh;
  position: absolute;
  left: 645px;
  top: 100px;
} 

.container {
  display: flex;
  justify-content: center;
  margin-top: -175px;
  margin-right: 100px;
  margin-left: 100px;
}

.box {
  width: 35vw;
  height: 52vh;
  border: 5px solid var(--accent);
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 15px;
  margin-top: 5px;
  background-color: var(--light);
}

.form {
  padding: 5px;
}

.box-title {
  font-size: 32px;
}

#first-name,
#last-name {
  width: 15vw;
}

#first-name-text,
#last-name-text {
  margin: 75px;
}

.remember,
.requirements {
  font-size: 13px;
  font-weight: bold;
}

.form-control {
  height: 28px;
  width: 30vw;
  align-items: center;
  border: 2px solid var(--pop);
}

.email,
.password,
.name,
.username {
  font-size: 15px;
}

.name-inputs {
  display: flex;
  justify-content: space-between;
}

.name-label {
  margin: 0 10px;
}

.box-label {
  font-size: 1.2rem;
}

.email,
.username,
.password {
  margin-top: 10px;
}

.btn {
  cursor: pointer;
  background-color: var(--main);
  color: var(--pop);
  border: none;
  border-radius: 5px;
}

.invalid-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

*/