/* container */

.home-container {
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* form */

.form-box {
  width: 35vw;
  height: 52vh;
  border: 5px solid var(--accent);
  border-radius: 15px;
  background-color: var(--light);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.box-title {
  font-size: 32px;
}

.form-box-label {
  font-size: 1.2rem;
}

.form-control {
  border: 2px solid var(--pop);
}

.home-button {
  padding: 3px;
  height: 35px;
  width: 100px;
  font-size: 15px;
}

.remember,
.requirements {
  font-size: 13px;
  font-weight: bold;
}
