:root {
  --main: #bab0bd;
  --accent: #72708f;
  --text: #231f25;
  --pop: #aacf9e;
  --light: #eae7eb;
  font-family: "Ysabeau Infant", sans-serif;
  color: var(--pop);
}

.logo {
  height: 25vh;
}

.chatbox-header,
.chatbox-card {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 25px;
  background-color: var(--light);
  border: 5px solid var(--accent);
}

.chatbox-card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  padding: 25px;
  background-color: var(--light);
  border: 5px solid var(--accent);
}

.card-header {
  height: auto;
}

.header-text {
  font-size: large;
}

.received-messages,
.sent-messages {
  display: flex;
  align-items: last baseline;
}

.sent-messages {
  display: flex;
  flex-direction: row-reverse;
}

.avatar1,
.avatar2 {
  height: 50px;
  margin: 5px;
}

.received-messages-inner,
.sent-messages-inner {
  margin: 5px;
  padding: 15px;
}

.received-messages-text {
  background-color: var(--main);
}

.sent-messages-text {
  background-color: var(--pop);
}

.received-messages-text,
.sent-messages-text {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.received-messages-footer {
  margin-left: 15px;
  text-align: left;
}

.sent-messages-footer {
  margin-right: 15px;
  text-align: right;
}

.received-messages-footer,
.sent-messages-footer {
  font-size: x-small;
  color: var(--main);
}

.textbox {
  width: 100vw;
  border-top: var(--accent);
}
