:root {
  --main: #e08d3c;
  --accent: #3d0c02;
  --text: #000000;
  --pop: #f5deb3;
  --light: #f4f0ec;
  font-family: "Ysabeau Infant", sans-serif;
  color: var(--pop);
}

button {
  width: 75vw;
  height: 10vh;
  font-size: 35px;
  margin-top: 50px;
}
