* {
  box-sizing: border-box;
}

body {
  margin: 10%;
}

main {
  display: flex;
  flex-direction: column;
}

.aboutmecard {
  background-color: var(--light);
  height: auto;
  width: 100%;
  margin: 10%;
}

.contentcard {
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  margin: 0px;
}
.name {
  color: var(--text);
  font-size: 75px;
}

.aboutmebox,
.aboutmecontainer {
  display: flex;
  justify-content: center;
  width: 98%;
}

.userimage {
  max-width: 98%;
  height: auto;
  margin: 5%;
  padding: 2%;
  border: solid 3px var(--main);
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section1,
.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
}

.userName,
.emailAddress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 3px var(--main);
  width: 225px;
}

.changeusername,
.changeemailaddress {
  border: solid 3px var(--main);
  background-color: var(--pop);
  width: 225px;
}

.delete {
  margin: 2%;
  margin-top: 5%;
  width: 75%;
}

.deletebutton {
  height: auto;
  border: solid 3px var(--main);
  padding: 1% 10%;
  background-color: var(--pop);
  font-size: larger;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .aboutmecard {
    width: 95%;
    margin: 5%;
  }

  .name {
    font-size: 350%;
  }

  .changeusername,
  .changeemailaddress {
    margin-top: 3%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .userimagecard {
    margin-top: -15%;
  }

  ul {
    margin: 0;
    margin-left: -7%;
  }

  .userName,
  .emailAddress {
    font-size: large;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .userimagecard {
    margin-top: -15%;
  }

  ul {
    margin-left: -6%;
  }

  .changeusername,
  .changeemailaddress {
    margin-top: 3%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  main {
    background-image: url("./assets/astronaut.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  main {
    flex-direction: row;
  }

  .contentcard {
    flex-direction: row;
  }

  .userimage {
    max-width: 45%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    margin: 5%;
  }

  .contentcard {
    padding-bottom: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  h2 {
    margin: 0px;
  }
  .name {
    color: var(--text);
    font-size: 75px;
  }

  .aboutmebox,
  .aboutmecontainer {
    display: flex;
    justify-content: center;
    width: 98%;
  }

  .userimage {
    max-width: 98%;
    height: auto;
    margin: 5%;
    padding: 2%;
    border: solid 3px var(--main);
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section1,
  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
  }

  .userName,
  .emailAddress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 3px var(--main);
    width: 225px;
  }

  .changeusername,
  .changeemailaddress {
    border: solid 3px var(--main);
    background-color: var(--pop);
    width: 225px;
  }

  .delete {
    margin: 2%;
    margin-top: 5%;
    width: 75%;
  }

  .deletebutton {
    height: auto;
    border: solid 3px var(--main);
    padding: 1% 10%;
    background-color: var(--pop);
    font-size: larger;
  }
}
