.aboutme-container {
  margin-left: auto;
  margin-right: auto;
  margin: 20rem;
}

.aboutme-card {
  background-color: var(--light);
  height: 50vh;
  width: 60vw;
  padding: 2rem;
  display: flex;
  align-items: center;
  border: 5px solid var(--accent);
  border-radius: 15px;
}

.aboutme-image {
  height: 25rem;
  width: 25rem;
  border: solid 3px var(--main);
  border-radius: 10px;
  display: flex;
}

.userkittyimage {
  height: 20rem;
  width: 20rem;
  margin: auto;
}

.aboutme-list {
  list-style-type: none;
  margin-left: 2rem;
  margin-right: 2rem;
}

.aboutme-listitem {
  width: 40rem;
  border: solid 2px var(--main);
  border-radius: 10px;
  padding: 1rem;
}

.aboutme-btn {
  padding: 10px;
}

/* .aboutme-contentcard {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
} */

/* .aboutme-name {
  color: var(--text);
  font-size: 50px;
  margin-bottom: -75px;
} */

/* .aboutme-userimagecard {
  display: flex;
  align-items: center;
  margin-top: -75px;
} */

/* .userkitty-image {
  max-width: 15vw;
  height: auto;
  margin: 15px;
  padding: 15px;
  border: solid 3px var(--main);
} */

/* ul {
  list-style-type: none;
} */

/* .aboutme-username,
.aboutme-emailaddress {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: solid 3px var(--main);
  padding: 3px;
} */

/* .aboutme-changeusername,
.aboutme-changeemailaddress {
  position: fixed;
  border: solid 3px var(--main);
  background-color: var(--pop);
  padding: 3px;
} */

/* .aboutme-changeusername {
  right: 100px;
} */

/* .aboutme-changeemailaddress {
  right: 85px;
} */

/* .aboutme-delete {
  margin: 15px;
  margin-top: 35px;
} */

/* .aboutme-deletebutton {
  height: auto;
  border: solid 3px var(--main);
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--pop);
  font-size: larger;
} */

/* .aboutme-footer {
  position: fixed;
  bottom: 0px;
  margin: auto;
} */

/* .aboutme-logo {
  height: 175px;
  width: auto;
  margin-left: 600px;
} */
